<?xml version="1.0"?>
<configuration>

  <location path="Manage.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>

  <system.web>
    <authorization>
      <allow roles="Agent" />
      <allow roles="Customer" />
      <allow roles="Manager" />
    </authorization>
  </system.web>
</configuration>
